@import "tailwindcss";

@theme {
  --color-dark-blue: #1a1a40;
  --color-medium-blue: #3c4ba3;
  --color-light-blue: #7fcaff;
  --color-gold: #ffcc66;
  --color-cyan: #00bfff;
  --color-fantasy-purple: #8a2be2;
}