@font-face {
  font-family: 'Alkhemikal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Alkhemikal.ttf') format('truetype');
}

.pulse-glow {
  animation: pulseGlow 1.5s infinite;
}

@keyframes pulseGlow {
  0% {
    box-shadow:
      0 0 10px #b39b68,
      0 0 20px #b39b68;
  }
  50% {
    box-shadow:
      0 0 20px #b39b68,
      0 0 40px #b39b68;
  }
  100% {
    box-shadow:
      0 0 10px #b39b68,
      0 0 20px #b39b68;
  }
}
